.titleWrap{
    display:flex;
    align-items:baseline;
    margin-top:30px;

  }

    
  .mainTitle{
    font-size: 2.3vw;
    font-weight: 600;
  }
  .subTitle{
    font-size: 0.6vw;
    font-weight: 400;
    color: #ababab;
    margin-left: 20px;
    
  }
  